<div class="error-404">
  <div class="error-content">
    <lottie-player src="https://assets7.lottiefiles.com/private_files/lf30_TBKozE.json"  background="transparent"  speed="1"  style="width: 400px; height: 400px;"  loop  autoplay></lottie-player>
    <h1>404 ERROR</h1>
    <p class="loading-message">Ummmm... looks like we just got lost.</p>
    <a href="/">Go home</a>
  </div>
</div>