<div class="credits">
  <p>Logo credits</p>
  <ul>
    <li><a href="https://www.flaticon.com/free-icons/education" title="education icons">Education icons created by Freepik - Flaticon</a></li>
    <li><a href="https://www.flaticon.com/free-icons/ui" title="ui icons">Ui icons created by Mihimihi - Flaticon</a></li>
  </ul>
</div>