<div class="modal fade" id="joinModal" tabindex="-1" aria-labelledby="joinModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="form" action="/cr/join" method="post">
          <div class="mb-3">
            <div class="form-group">
              <label for="inviteCode" class="form-label">Invite Code <span class="required">*</span></label>
              <input type="text" class="form-control required-field" name="inviteCode" aria-describedby="inviteCode" placeholder="Enter invite code" autocomplete="off" maxlength="6" minlength="6"><button id="joinClassroom" class="btn btn-secondary">Join to classroom</button>
            </div>
        </div>
      </form>
    </div>
  </div>
</div>