<nav class="navbar navbar-expand-lg navbar-light bg-light  static-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/img/navbar_logo.png" alt="..." height="60px">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#joinModal"><span class="material-symbols-outlined">add</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/logout"><span class="material-symbols-outlined" title="Logout">logout</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>